<ion-content [fullscreen]="true">
<hr>
<hr>
<hr>
<img src="assets/icon/ico-activa.png" 
     alt="Logo Activa" 
     width="200" 
     height="150" 
     style="display: block; margin: 0 auto;">
     <h2 style="font-family: Arial; font-weight: bold; text-align: center; margin-top: -20px; color: white;">ACTIVA</h2>
  

<ion-input
  type="email"
  fill="solid"
  label="Correo electrónico"
  labelPlacement="floating"
  helperText="Introduce un correo electrónico válido"
  errorText="Correo electrónico inválido"
  ngModel
  email
  style="display: block; margin: 0 auto; margin-top: 50px; width: 90%;"
></ion-input>

<ion-input
  type="password"
  fill="solid"
  label="Contraseña"
  labelPlacement="floating"
  errorText="Contraseña inválida"
  ngModel
  password
  style="display: block; margin: 0 auto; margin-top: 30px; width: 90%;"
>
  <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>

</ion-input>
  <ion-button fill="clear" size="small" expand="block" style="display: block; margin-top: 0; font-size: 10px; margin-left: 190px; width: 189px; color: white;">¿Olvidaste tu contraseña?</ion-button>




  <ion-button color="success" expand="block" style="display: block; margin-top: 100px; width: 300px; margin-left: auto; margin-right: auto;" tab="welcome" href="/tabs/tab3">Validar y Continuar</ion-button>
  <ion-button fill="clear" size="small" expand="block" style="display: block; margin: 0 auto; margin-top: 0; font-size: 10px; width: 300px; ">Ayuda - Privacidad</ion-button>


</ion-content>
