<ion-tabs>
   

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-progress" href="/tabs/my-progress">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Mi progreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" href="/tabs/login">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="confirmed-appointment" href="/tabs/confirmed-appointment">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Confirmar cita</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
    

</ion-tabs>
