<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="your-progress" href="/tabs/your-progress">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <div style="position: relative; display: inline-flex;">
        <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
        <span
          *ngIf="hasUnreadNotifications"
          style="
            position: absolute;
            top: -2px;
            right: -4px;
            width: 9px;
            height: 9px;
            background: var(--ion-color-danger, #eb445a);
            border-radius: 50%;
            border: 1.5px solid var(--ion-tab-bar-background, #fff);
          "
        ></span>
      </div>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detalle-rutina" href="/tabs/detalle-rutina">
      <ion-icon aria-hidden="true" name="fitness-outline"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
