<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="your-progress" href="/tabs/your-progress">
      <ion-icon aria-hidden="true" name="trending-up"></ion-icon>
      <ion-label>Mi progreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="confirmed-appointment" href="/tabs/confirmed-appointment">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Confirmar cita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detalle-rutina" href="/tabs/detalle-rutina">
      <ion-icon aria-hidden="true" name="fitness"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
