<ion-content [fullscreen]="true">
<hr>
<hr>
<hr>
<img src="assets/icon/ico-activa.png" 
     alt="Logo Activa" 
     width="200" 
     height="150" 
     style="display: block; margin: 0 auto;">
     <h2 style="font-family: Arial; font-weight: bold; text-align: center; margin-top: -20px; color: white;">ACTIVA</h2>
  

<ion-input
  type="email"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  ngModel
  email
  width="80%"
  style="display: block; margin: 0 auto; margin-top: 50px;"
></ion-input>


  <ion-button color="success" expand="block" style="display: block; margin-top: 50px; width: 200px; margin-left: auto; margin-right: auto;" tab="tab1" href="/tabs/tab3">Fisioterapeuta</ion-button>
  <ion-button fill="clear" size="small" expand="block" style="display: block; margin-top: 250px; font-size: 10px;" tab="tab3" href="/tabs/tab3">Ayuda - Privacidad</ion-button>


</ion-content>
