
<ion-content [fullscreen]="true">
<img src="assets/icon/ico-activa.png" 
     alt="Logo Activa" 
     width="300" 
     height="200" 
     style="display: block; margin: 0 auto;">

<h2 style="font-family: Arial; font-weight: bold; text-align: center; margin-top: -30px; color: white;">ACTIVA</h2>


<p style="font-family: Arial; font-size: 20px; text-align: center; margin-top: 0; color: white;">Tu recuperacion comienza aqui</p>
<p style="font-family: system-ui; font-size: 13px; text-align: center; margin-top: -20px; color: rgb(7, 170, 116);">Fisioterapia personalizada a tu alcance</p>


<ion-button expand="block" style="display: block; margin-top: 350px;" tab="tab2" href="/tabs/tab2">Iniciar Sesión</ion-button>
<ion-button fill="clear" size="small" expand="block" style="display: block; margin-top: auto; font-size: 10px;" tab="tab3" href="/tabs/tab3">Ayuda - Privacidad</ion-button>
</ion-content>
